<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread]) %magenta(%logger{36}) - %msg%n"/>
    <property name="BASIC_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} - %msg%n"/>

    <!-- Định nghĩa appender ghi log ra console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern> <!-- Định dạng log -->
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <!-- Định nghĩa appender ghi log ra file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file> <!-- Đường dẫn file log -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern> <!-- Định dạng log -->
        </encoder>
    </appender>

    <!-- Cấu hình logger -->
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>

    <!-- Cấu hình root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
